<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <connectionStrings>
    <add name="NorthwindConnection" connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=NORTHWND;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>